/*
Color Palette (Dark to Light):
#001B66
#002CA3
#0041F5
#3369FF
#ADC3FF
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #001B66;
}

#wrapper {
    width: 90%;
    margin: auto;
    background-color: #ADC3FF;
    box-shadow: 0px 0px 5px #000000;
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main main'
    'footer footer footer';
}

header {
    grid-area: header;
    background-color: #3369FF;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    background-color: #0041F5;
    margin: 0;
    padding: .75em;
}

nav ul li {
    display: inline-block;
    text-align: center;
    font-size: 1.25em;
}

nav ul li a {
    text-decoration: none;
    color: #e3e3e3;
    padding: .6em 1.25em;
}

nav ul li a:hover {
    background-color: #002CA3;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 'article article article image image';
    padding: 1em;
}

article {
    grid-area: article;
    padding: .5em;
}

#profile {
    grid-area: image;
}

#profile img {
    width: 80%;
    margin: auto;
}

figure figcaption {
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: #3369FF;
    text-align: center;
    font-size: 1em;
    padding: 1em 1em 0em 1em;
}

footer p {
    font-style: italic;
}

footer a {
    color: #e3e3e3;
}

@media only screen and (max-width: 720px) {
    #wrapper {
        width: 100%;
    }
    
    main {
        display: block;
    }
}
